@charset "UTF-8";
@font-face {
  font-family: "Apple Chancery";
  src: url("../fonts/Apple Chancery.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
body {
  height: 1307px;
  background-color: #1D1B2B;
  margin: 0 auto;
  @import url(menu.scss);
}
body header {
  height: 100px;
  background-color: #EC4D2F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body header .left-side-logo {
  background-color: #B83922;
  width: 545px;
  height: 74px;
  border-radius: 0 35px 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
body header .left-side-logo span {
  font-family: Anton;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.05em;
  text-align: left;
  margin-left: 10px;
  margin-right: 15px;
  color: white;
}
body header .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 800px;
  margin: 0 auto;
}
body header .header-menu .menu-item {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin-right: 2%;
  padding: 5px;
  text-decoration: none;
}
body header .header-menu .menu-item:hover {
  background-color: #B83922;
  border-radius: 10px;
  cursor: pointer;
}
body header .right-side {
  background-color: #B83922;
  width: 545px;
  height: 74px;
  border-radius: 35px 0px 0px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: auto;
  position: relative;
}
body header .right-side .language {
  margin: 0px 20px 0px 20px;
}
body header .right-side .language:hover .lang {
  opacity: 1;
}
body header .right-side .lang {
  position: absolute;
  bottom: -120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: radial-gradient(50% 50% at 50% 50%, rgba(236, 77, 47, 0) 0%, rgba(236, 77, 47, 0.17) 100%);
  width: 119px;
  height: 100px;
  text-align: center;
  border: 2px solid #EC4D2F;
  border-radius: 28px;
  opacity: 0;
}
body main {
  height: 1051px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.4fr 1fr;
  grid-template-columns: 1.4fr 1fr;
}
body main section {
  margin-left: 17vw;
  margin-top: 81px;
}
body main section .pizza-special {
  padding: 0;
  margin: 0;
  position: relative;
}
body main section .pizza-special .p1 {
  font-family: Anton;
  font-size: 184px;
  font-weight: 400;
  line-height: 277px;
  letter-spacing: 0.05em;
  text-align: left;
  color: white;
  padding: 0;
  margin: 0;
}
body main section .pizza-special .p2 {
  font-family: Apple Chancery;
  font-size: 84px;
  font-style: italic;
  line-height: 133px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #B83922;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 190px;
  left: 225px;
}
body main section .text-block {
  margin-top: 60px;
}
body main section .text-block h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 40px;
}
body main section .text-block h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 40px;
}
body main section .text-block ul li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  list-style: none;
  margin-bottom: 20px;
}
body main section .text-block ul li::before {
  content: "∘";
  margin-right: 5px;
  color: #EC4D2F;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body main section .menu-button {
  background: radial-gradient(50% 50% at 50% 50%, rgba(236, 77, 47, 0) 0%, rgba(236, 77, 47, 0.17) 100%);
  padding: 16px 30px;
  border: 2px solid #EC4D2F;
  border-radius: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 40px;
}
body main section .menu-button:hover {
  background-color: #EC4D2F;
}
body main section .menu-button:active {
  background-color: #B83922;
}
body main aside {
  margin-right: 5vw;
  margin-left: 5vw;
  margin-top: 88px;
}
body main aside .aside-slider {
  width: 100%;
  height: 200px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body main aside .aside-slider .pizza-img {
  padding: 0;
  margin: 0;
  position: relative;
}
body main aside .aside-slider .pizza-img .discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 160px;
  height: 160px;
  border: 1px solid #EC4D2F;
  border-radius: 50%;
  position: absolute;
  top: -35px;
  left: -35px;
  z-index: 0;
}
body main aside .aside-slider .pizza-img .discount span {
  font-family: "Apple Chancery";
  font-style: italic;
  font-weight: 0;
  font-size: 48.8136px;
  line-height: 77px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #EC4D2F;
}
body main aside .aside-slider .pizza-img .pizza-circle {
  width: 518px;
  height: 518px;
  border: 1px solid #EC4D2F;
  border-radius: 50%;
  padding: 20px;
  position: relative;
  z-index: 2;
  background-color: #1D1B2B;
  background: radial-gradient(50% 50% at 50% 50%, rgba(236, 77, 47, 0) 0%, rgba(236, 77, 47, 0.17) 100%), #1D1B2B;
}
body main aside .aside-slider .pizza-img .pizza-circle img {
  width: 508px;
  z-index: 3;
  position: relative;
  padding-left: 5px;
  padding-top: 5px;
}
body main aside .aside-slider .pizza-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
}
body main aside .aside-slider .pizza-bottom .pizza-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
}
body main aside .aside-slider .pizza-bottom .pizza-price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #EC4D2F;
}
body main aside .aside-slider .pizza-bottom .buttons-slider {
  margin-top: 43px;
}
body main aside .aside-slider .pizza-bottom .buttons-slider .prev {
  width: 87px;
  height: 47px;
  left: 1448px;
  top: 904px;
  background: #B83922;
  border-radius: 0px 100px 100px 0px;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  color: #FFFFFF;
  font-size: 25px;
  cursor: pointer;
}
body main aside .aside-slider .pizza-bottom .buttons-slider .prev:hover {
  background-color: #EC4D2F;
}
body main aside .aside-slider .pizza-bottom .buttons-slider .prev:active {
  background-color: #B83922;
}
body main aside .aside-slider .pizza-bottom .buttons-slider .next {
  width: 87px;
  height: 47px;
  left: 1468px;
  top: 904px;
  background: #B83922;
  border-radius: 0px 100px 100px 0px;
  color: #FFFFFF;
  font-size: 25px;
  cursor: pointer;
}
body main aside .aside-slider .pizza-bottom .buttons-slider .next:hover {
  background-color: #EC4D2F;
}
body main aside .aside-slider .pizza-bottom .buttons-slider .next:active {
  background-color: #B83922;
}
body footer {
  height: 236px;
  max-width: 100%;
  background-color: #EC4D2F;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 50px 0px 0px 50px;
}
body footer .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 30%;
}
body footer .footer-logo img {
  width: 45.5px;
  height: 45.5px;
}
body footer .footer-logo span {
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-left: 15px;
}
body footer .footer-menu li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  list-style: none;
  margin-bottom: 20px;
}
body footer .footer-menu li a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  text-decoration: none;
}
body footer .footer-menu li a:hover {
  text-decoration: underline;
  cursor: pointer;
}
body footer .footer-contact {
  margin-right: 2%;
}
body footer .footer-contact li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  list-style: none;
  margin-bottom: 20px;
}
body footer .footer-contact li:hover {
  text-decoration: underline;
  cursor: pointer;
}
body footer .footer-contact li a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  text-decoration: none;
}
body footer .footer-contact li a:hover {
  text-decoration: underline;
  cursor: pointer;
}